p {
    color: black;
    text-decoration: bold;
    font: 14px Helvetica;
}

ol {
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: bold;
}

/* menu is a class or "true class" */
a.menu {
    color: #ffd529;
}

a.edit {
    color: slategrey;
    text-emphasis: none;
    font: 12px Helvetica
}


a.edit:hover {
    color: rgb(72, 81, 90);
}


li {
    color: white;
    background-color: #ffd529;
    border-radius:5px;
    text-decoration:none;
    font: 18px Helvetica;
    border: 1.5px solid #e7b900;
    padding: 8px 8px;
    text-align: center;
    width: 12%;
    display: inline-block;
    margin: 2px 4px;
    cursor: pointer;
}

li:hover {
    background-color:  #e7b900;
}

h2 {
    color: black;
    text-decoration: bold;
    font: 14px Helvetica;
    padding-left: 6;
}

tr {
    background-color: white;
}

tr.hover:hover {
    background-color: #f5f5f5;
}

h1 {
    color: black;
    text-decoration: bold;
    font: 14px Helvetica;
}

h1.success {
    color: white;
    background-color: lightgreen;
    border-radius:5px;
    text-decoration: bold;
    font: 16px Helvetica;
    padding: 8px 16px;
}

h1.fail {
    color: white;
    background-color: lightsalmon;
    border-radius:5px;
    text-decoration: bold;
    font: 16px Helvetica;
    padding: 8px 16px;
}

td {
    color: black;
    font: 16px Helvetica;
    padding: 2px 4px;
}